#  NON PARAMETRIC TESTS

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm, t
import seaborn as sns

In [2]:
df = pd.read_csv('general_data.csv')
df.drop_duplicates(inplace = True) 
df.dropna(inplace = True)

In [3]:
df.Attrition = df.Attrition.map({'Yes' : 1, 'No' : 0})

In [4]:
df.Gender = df.Gender.map({'Male' : 1, 'Female' : 0})

In [5]:
df.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,0,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,1,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,0,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,1,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,1,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,0,Non-Travel,Research & Development,7,4,Medical,1,10,0,...,1.0,Y,13,8,1,6.0,2,6,1,5

## Chi2 Test

In [6]:
from scipy.stats import chi2_contingency

'H0 - There is no dependency between Attrition and Age (REJECTED)'
'H1 - There is dependency between Attrition and Age'

chitable = pd.crosstab(df.Attrition, df.Age)

stats1, p1, dof1, expected1 = chi2_contingency(chitable)
print(stats1, p1)


if p1 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

352.3011830696416 1.20869585240706e-50
We reject the Ho

In [7]:
'H0 - There is no dependency between Attrition and Gender (ACCEPTED)'
'H1 - There is dependency between Attrition and Gender'

chitable2 = pd.crosstab(df.Attrition, df.Gender)

stats2, p2, dof2, expected2 = chi2_contingency(chitable2)
print(stats2, p2)

if p2 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

1.3825823839528295 0.23966176275638887
We Accept the Ho

In [8]:
'H0 - There is no dependency between Attrition and JobLevel  (ACCEPTED)'
'H1 - There is dependency between Attrition and JobLevel'

chitable3 = pd.crosstab(df.Attrition, df.JobLevel)

stats3, p3, dof3, expected3 = chi2_contingency(chitable3)
print(stats3, p3)

if p3 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

7.036480574687178 0.13397290697032432
We Accept the Ho

In [9]:
'H0 - There is no dependency between Attrition and Education (ACCEPTED)'
'H1 - There is dependency between Attrition and Education'

chitable4 = pd.crosstab(df.Attrition, df.Education)

stats4, p4, dof4, expected4 = chi2_contingency(chitable4)
print(stats4, p4)

if p4 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

6.2735361781270615 0.17963050984273224
We Accept the Ho

In [10]:
'H0 - There is no dependency between Attrition and NumCompaniesWorked (REJECTED)'
'H1 - There is dependency between Attrition and NumCompaniesWorked'

chitable5 = pd.crosstab(df.Attrition, df.NumCompaniesWorked)

stats5, p5, dof5, expected5 = chi2_contingency(chitable5)
print(stats5, p5)

if p5 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

75.85546138415296 1.0708854426925246e-12
We reject the Ho

In [11]:
'H0 - There is no dependency between Attrition and TotalWorkingYears (REJECTED)'
'H1 - There is dependency between Attrition and TotalWorkingYears'

chitable6 = pd.crosstab(df.Attrition, df.TotalWorkingYears)

stats6, p6, dof6, expected6 = chi2_contingency(chitable6)
print(stats6, p6)

if p6 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

360.55237130857233 1.1111356799847907e-53
We reject the Ho

In [12]:
'H0 - There is no dependency between Attrition and PercentSalaryHike (ACCEPTED)'
'H1 - There is dependency between Attrition and PercentSalaryHike'

chitable7 = pd.crosstab(df.Attrition, df.PercentSalaryHike)

stats7, p7, dof7, expected7 = chi2_contingency(chitable7)
print(stats7, p7)

if p7 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we acceppt the Ho due to p > 0.05

19.132665173042696 0.15994173676121282
We Accept the Ho

In [13]:
'H0 - There is no dependency between Attrition and YearsAtCompany (REJECTED)'
'H1 - There is dependency between Attrition and YearsAtCompany'

chitable = pd.crosstab(df.Attrition, df.YearsAtCompany)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we Reject the Ho due to p < 0.05

284.1905063085053 2.434867576146702e-40
We reject the Ho

In [14]:
'H0 - There is no dependency between Attrition and DistanceFromHome (REJECTED)'
'H1 - There is dependency between Attrition and DistanceFromHome'

chitable = pd.crosstab(df.Attrition, df.DistanceFromHome)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we Reject the Ho due to p < 0.05

103.09280258300478 1.5872525392897128e-10
We reject the Ho

In [15]:
'H0 - There is no dependency between Attrition and PercentSalaryHike (ACCEPTED)'
'H1 - There is dependency between Attrition and PercentSalaryHike'

chitable = pd.crosstab(df.Attrition, df.PercentSalaryHike)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

19.132665173042696 0.15994173676121282
We Accept the Ho

In [16]:
'H0 - There is no dependency between Attrition and MonthlyIncome (REJECTED)'
'H1 - There is dependency between Attrition and MonthlyIncome'

chitable = pd.crosstab(df.Attrition, df.MonthlyIncome)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

4006.81847073142 2.581841223898078e-261
We reject the Ho

In [17]:
'H0 - There is no dependency between Attrition and TrainingTimesLastYear (REJECTED)'
'H1 - There is dependency between Attrition and TrainingTimesLastYear'

chitable = pd.crosstab(df.Attrition, df.TrainingTimesLastYear)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

22.87287815507605 0.000840192196419255
We reject the Ho

In [18]:
'H0 - There is no dependency between Attrition and YearsSinceLastPromotion (REJECTED)'
'H1 - There is dependency between Attrition and YearsSinceLastPromotion'

chitable = pd.crosstab(df.Attrition, df.YearsSinceLastPromotion)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

64.22958433145763 4.66086831785978e-08
We reject the Ho

In [19]:
'H0 - There is no dependency between Attrition and TrainingTimesLastYear (REJECTED)'
'H1 - There is dependency between Attrition and TrainingTimesLastYear'

chitable = pd.crosstab(df.Attrition, df.TrainingTimesLastYear)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

22.87287815507605 0.000840192196419255
We reject the Ho