## Question 1

In [1]:
email = input('Please input an email : ')

company = email[email.find('@')+1:][:email[email.find('@')+1:].find('.')]
print('Your company name is :',company)

Please input an email : john@google.com
Your company name is : google

## Question 2

In [2]:
listofword= input('Pls input words separated by the comma : ').split(',')

print('Output :')
print(','.join(sorted(listofword)))

Pls input words separated by the comma : without,hello,bag,world
Output :
bag,hello,without,world

## Question 3

In [3]:
thisset = {"apple", "banana", "cherry", 'apple'}
(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [5]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [6]:
thisset = set(["apple", "banana", "cherry"]) 
print(thisset)

{'apple', 'banana', 'cherry'}

In [7]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

## Question 4

In [7]:
listinput = sorted(list(map(int, input('Input Value : ').split())))

for i in range(1, listinput[-1]+1):
    if i not in listinput:
        print('the missing value is :',i)

Input Value : 1  4 6 7 8 3 2
the missing value is : 5

## Question 5

In [9]:
list1 = input('Input Value : ').split()

list2 = []
for i in list1:
    if i not in list2:
        list2.append(i)
        
print('Output Value :', *list2)

Input Value : 12 24 35 24
Output Value : 12 24 35